<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/public/css/main.css">
    <title>Nobel Prizes</title>
</head>
<!--Navigation bar-->
<div class = 'nav' padding="14px 9px">
  <a href= "/facts" class="tag">Nobel Prize facts</a>
  <a href=" /laureat/category" class="tag"> Select Category</a>
  <a href= "/recent" class="tag"> Recent Laureates</a>
  <a href= "/women" class="tag"> Awarded Women</a>
  <a href= "/addlaureate" class="tag"> Add New Laureate</a>

</div>
<body>
    {{{body}}}
</body>
</html>
