<form method="post" action="/awards/{{id}}">
  <fieldset>
          <legend>Enter Affiliation info</legend><br>
          <div>
          <label>School name:</label> <input type="text" name="name" placeholder="Enter school name..." required>
          <label>city:</label> <input type="text" name="city" placeholder="Enter city..." required>
        </div>

          <div>
          <label>country:</label> <input type="text" name="country" placeholder="Enter country..." required>

        </div>
        <div>
        <input type="submit" value="Add Affiliation Info">
      </div>
    </fieldset>
</form>
