
<form method="post" action="/addlaureate">
  <fieldset>
          <legend>Enter New Laureate</legend><br>
          <div>
          <label>First name:</label> <input type="text" name="firstname" placeholder="Enter first name..." required>
          <label>Surname:</label> <input type="text" name="surname" placeholder="Enter surname..." required>
        </div>

          <div>
          <label>Gender:</label> <input type="text" name="gender" placeholder="Enter gender..." required>
          <label>BornCountry: <input type="text" name="bornCountry" placeholder="Enter country of birth..." required>
        </div>
          <div>
          <input type="submit" value="Add Laureate">
        </div>
      </fieldset>
      </form>

<form method="get" action="/awards">
       <fieldset>
        <input type="submit" value="Get All the Laureates in the database">
      </fieldset>
</form>
